/* TEXT COLOUR */

.text-white{
    color: white;
}
.text-dark{
    color: black;
}
.text-primary {
    color:blue;
}
.text-secondary {
    color: darkcyan;
}
.text-success {
    color: green;
}
.text-warning {
    color: orange;
}
.text-danger {
    color:red;
}

/* NAV BACKGROUND COLOUR */
.bg-light {
    background-color: white;
    color: black;
}
.bg-dark {
    /* background-color: black; */
    background: black;
    color: white;
}
.bg-primary {
    background-color: blue;
    color: white;
}
.bg-secondary {
    background-color: darkcyan;
}
.bg-success {
    background-color: green;
    color: white;
}
.bg-warning {
    background-color:orange;
    color: white;
}
.bg-danger {
    background-color: red;
    color: white;
}

/* BUTTON COLOUR */
.btn-primary {
    background-color: blue;
    color: white;
}

.btn-secondary {
    background-color: darkcyan;
    color: white;
}

.btn-success {
    background-color: green;
    color: white;
}
.btn-warning {
    background-color:orange;
    color: white;
}
.btn-danger {
    background-color: red;
    color: white;
}