body {
	margin: 0;
	font-size: 18px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
	background: yellow;
}

header h1 {

}

nav {
	font-family: monospace;
	padding: 15px 15px 0 15px;
}

nav h1 {
	margin: 0;
	display: inline;
}

nav ul {
	padding: 15px 15px 0 15px;
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	/* background: black; */
	color: white;
	display : inline-block;
	list-style-type: none;
	padding: 5px 15px;
	margin: 0;
}

nav ul li a {
	color: white;
}

.pull-right {
	float: right;
}

.nav-center {
	text-align: center;
}

.text-center {
	text-align: center;
}

a {
	color: aquamarine;
}
a:hover {
	color:pink;
}

.row {
	display : inline;
	clear: both;
}
.row:after {
    clear: both;
    content: " ";
    display: table;
}

.col {
	border-radius: 5px;
	color: white;
	padding: 10px.5%;
	float: left;
	margin: .5%;
	/* width: 31%; */
}

.col-1 {
	width: 11%;
}

.col-2 {
	width: 21%;
}

.col-3 {
	width: 23%;
}

.col-4 {
	width: 31%;
}

.col-5 {

}

.col-6{
	width: 48%;
}

.jumbotron {
	color:black;
	background-color: #333;
	border-radius: 5px;
	padding: 30px;
	margin: 3%;

}

footer {
	clear: both;
	padding: 15px 15px 0 15px;

}

footer ul {
	padding: 15px 15px 0 15px;
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

footer ul li {
	/* background: black; */
	display : inline-block;
	list-style-type: none;
	padding: 5px 15px;
	margin: 0;
}

/* BUTTONS */
.btn-primary , .btn-secondary, .btn-success, .btn-warning, .btn-danger {
	font-size: 18px;
	border-radius: 3px;
	padding: 10px;
	margin: 1%;
}

.btn-sm {
	font-size: 14px;
}

.btn-lg {
	font-size: 24px;
}

.btn-x-lg {
	font-size: 30px;
}

.btn-wide {
	padding: 10px 75px 10px 75px;
}

/* CARDS */

.card {
	background:purple;
	border-radius: 5px;
	color: white;
	padding: 10px.5%;
	float: left;
	margin: .5%;
	width: 31%;
}

.card-body{

}

.card-footer {

}

.card-title h1 {
	color: yellow;
}